@import '@scss/variables.scss';

.product--name {
    font-size: $font-18;
    color: $dark-color;
    margin-top: 15px;
    font-weight: 600;
}

.product--category {
    color: #A7A9AC;
    font-weight: 600;
}

.product--price {
    font-size: 30px;
    color: $purple-color;
    font-weight: 600;

    .small {
        font-size: 20px;
        font-weight: 500;
    }
}

.product--discount {
    color: #A7A9AC;
    align-self: flex-start;
    font-weight: 600;
    text-decoration: line-through;
    padding-left: 19px;
}

.product--discount-amount {
    font-size: 14px;
    min-width: 77px;
    height: 27px;
    border-radius: 3px;
    background-color: #FFF200;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px !important;
    font-weight: 600;
}

.product--section-title {
    font-size: 18px;
    color: $dark-color;
    font-weight: 600;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 82px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 60px;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        width: 60px;
        background-color: #fff;
        border-radius: 50%;
        border: 0.5px solid #D9D9D9;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        &.image{
            width: 84px;
            height: 85px;
        }
    }
    input{
        &:checked~.checkmark {
            background-color: #ECECEC;
            &.image{
                background-color: $purple-color;
            }
        }
        &checked~.checkmark:after {
            display: block;
        }
    }
}

.radio--text {
    color: $purple-color;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    left: 0px;
    font-size: 10px;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
    padding-right: 4px;
}

.radio--image {
    position: absolute;
    left: 2px;
    z-index: 1;
    border-radius: 50%;
    bottom: -22px;
    
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        &.active{
            border: 2px solid #542E90;
        }
    }
}
.product--quantity--div{
    width: 252px;
}
.product--quantity{
    width: 252px !important;
    height: 48px !important;
    border-radius: 24px !important;
    text-align: center !important;
    background-color: #F5F5F5 !important;
}
.product--counter{
    position: absolute;
    width: 37px;
    height: 37px;
    background-color: #FFF200;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    &.increment{
        top: 4px;
        right: 4px;
    }
    &.subtract{
        top: 4px;
        left: 4px;
    }
}