@import "@scss/variables.scss";
.star--rate{
    color: $primary-color;
    font-weight: 600;
    padding-left: 16px;
    font-size: 17px;
}
.star--reviews{
    color: #575756;
    font-weight: 500;
    padding-left: 16px;
    font-size: 15px;
    font-weight: 600;
}