// colors
$primary-color: #000000;
$secondary-color:#FFF100;
$purple-color:#542E90;
$dark-color:#1D1D1B;
$red-color:#F11133;

// fonts 
$font-28:1.75em;
$font-22:1.375em;
$font-20:1.25em;
$font-18:1.125em;
$font-16:1em;
$font-14:0.875em;
$font-12:0.75em;
$font-11:0.6875em;